@import "./variables.scss";

@media (max-width: 480px) {
  .page-content {
    section {
      margin: 0;
      padding: 20px !important;
    }
  }

  .app-header {
    padding: 20px !important;
    height: 80px;
  }

  .app-sub-header {

  }
}

.sticky-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 2;

  .content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
  }

  h1 {
    margin: 0;
  }
}

.app-header {
  @extend .sticky-header;

  top: 0px;
  height: $header-height;
  padding: 25px 80px;
  background: $primary;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.5);
  padding: 0 80px;

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    border-bottom: 3px solid white;
  }
  
}

.app-sub-header {
  @extend .sticky-header;

  top: $header-height;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: white;
  padding: 25px 80px;
}

.page-content {
  display: flex;
  flex-direction: column;
  
  section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 80px;

    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.divider {
  
}