@import "./variables.scss";

.sticky-header {
  position: sticky;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.app-header {
  @extend .sticky-header;

  top: 0px;
  height: $header-height;
  background: $primary;
  box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.5);

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
    border-bottom: 3px solid white;
  }
  
}

.app-sub-header {
  @extend .sticky-header;

  display: flex;
  justify-content: space-between;
  top: $header-height;
  height: $sub-header-height;
  background: white;
}

.content {
}

.page-content {
  display: flex;
  flex-direction: column;
  
  section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 20px 80px;
  }
}

.divider {
  
}