@import "./styles/Base.scss";

h1, h2 {
  font-weight: bold;
}

select {
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  padding: 0 10px;
  width: 180px;
}

.btn {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  border-radius: 4px;
  height: 35px;
  padding: 5px 12px;
  background: #09357B;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;

  span {
    margin-left: 10px;
  }
}
